/* Header */
header {
  background-color: #536688;
  color: #e4e4e4;
  padding: 10px;
  margin-bottom: 15px;
  position: sticky;
  top: 0;
}

button {
  float: right;
  border: none;
  background-color: #e4e4e4;
  color: #536688;
  border-radius: 5px;
  padding: 5px 15px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #6e809f;
  color: #ebeef7;
}

/* Article ID Info */
.body {
  color: #2c3648 !important;
  font-size: medium;
  margin: 0 10px;
}

.info {
  margin-left: 10px;
}

.time {
  float: right;
  margin-right: 10px;
}

.img-by-id {
  max-width: 20rem;
  margin-bottom: 0;
}

/* Article Card */
article {
  overflow: hidden;
  padding-bottom: 25px;
  padding-top: 10px;
  border-bottom: 1px solid #536688;
}

article img {
  max-width: 12rem;
  border-radius: 5px;
  float: left;
  width: 50%;
  margin: 10px;
}

.article-text,
article footer {
  float: left;
  width: 100%;
}

.author,
.votes {
  float: right;
  margin-right: 10px;
}

.metadata {
  margin-left: 10px;
  color: #95a0b3;
}

.article-text p {
  color: #95a0b3;
}

/* Filter */
.filter select {
  border: none;
  background-color: #536688;
  color: #ffffff;
  border-radius: 5px;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
}
/* Link */
.link {
  color: #2c3648;
  text-decoration: none;
  transition: 0.3s ease;
}

.link:hover {
  color: #95a0b3;
}

/* Header Link */
header .link {
  color: #ebeef7;
  text-decoration: none;
}

header .link:hover{
  background-color: #e4e4e4;
  color: #95a0b3;
}

/* Comments */
.comment{
background-color: #e4e4e4;
padding: 25px;
border-radius: 5px;
}
.comment-card{
  margin: 10px;
}
.comment-votes{
  float: right;
  margin-right: 10px;
  color: #95a0b3;
}
.comment-body{
  margin-top: 10px;
}
.time,
.comment-author{
  color: #95a0b3;
}