body {
  background: #fff;
  color: #000;
  font: 13px/1.3 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

@media (max-width: 500px) {
  article {
    width: 500px;
  }
}

@media (min-width: 800px) {
  article,
  .header-nav,
  .filter{
    width: 800px;
    margin: 0 auto;
  }

}
